.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50px;
  margin-bottom: 50px;
}

.profile {
  width: 160px;
  height: 160px;
  border-radius: 65px;
  margin-bottom: 30px;
}

.name {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 35px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.n  {
  font-weight: 700;
  font-size: 60px;
  color: #63D698;
  text-shadow: 0px 1px 7.6px rgba(165, 255, 206, 0.66);
}

.tag {
  margin-top: -14px;
  font-size: 15px;
  font-weight: 400;
  color: #63D698;
  width: 80px;
}

.hr {
  margin: 0 16px;
  width: 1px;
  height: 25px;
  background: #63D698;
}

.start {
  width: 300px;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #63D698;
}

.arrow {
  width: 12px;
  margin-left: 8px;
}

.card {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 18px;
  border: 1px solid #ECECEC;
  background: #F7FFF6;
  box-shadow: 0px 4px 28.2px -13px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardTitle {
  font-weight: 800;
  font-size: 40px;
  background: linear-gradient(180deg, #63D698 0%, #00A3FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  line-height: 125%;
  margin-bottom: 20px;
}

.rewards {
  font-weight: 700;
  font-size: 18px;
  color: #63D698;
  margin-bottom: 10px;
}

.go {
  padding: 9px 30px;
  border-radius: 18px;
  border: 1px solid #DAE1DA;
  background: rgba(178, 178, 178, 0.17);
  text-decoration: none;
  color: #0000007A;
  font-size: 16px;
  font-weight: 600;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.windowContainer {
  margin-left: -40px;
  margin-top: -40px;
  width: 100%;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(5px) brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 280px;
  /* padding: 20px; */
  border-radius: 40px;
  background: white;
  box-shadow: 0px 4px 28.2px -13px rgba(0, 0, 0, 0.25);
}

.windowTitle {
  margin: 25px;
  font-weight: 700;
  font-size: 22px;
  color: #63D698;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.help {
  width: 20px;
  height: 20px;
}

.cardContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  height: 230px;
  overflow-y: scroll;
}

.cardLock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.characterCard {
  width: 100px;
  margin: 10px;
}
.characterCardx {
  width: 100px;
  margin: 10px;
  filter: brightness(70%);
}

.lock {
  position: absolute;
  z-index: 10;
  width: 40px;
  margin-top: -12px;
}
.lockx {
  display: none;
}